*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
} 


body {
    font-family: 'Inter';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul[class] {
    padding: 0;
}

.title-800_36 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 125%;
    color: #111928;
    margin-bottom: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0 80px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}


.logo>span {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: black;
    padding-left: 12px;
}

.header-links>li>a {
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    padding-left: 32px;
    transition-duration: 100ms;
}

.header-links>li>a:hover {
    color: #7E3AF2;
}

.header>ul>li {
    display: inline-block;
}


.header-start {
    display: flex;
    align-items: center;
}

.header-start-btn {
    font-style: normal; 
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    background: #7E3AF2;
    border-radius: 8px;
    border-style: none;
    color:white;
    margin-left: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
    padding: 8px 12px;
}

.header-start-btn:hover {
    box-shadow: 0px 0px 2px 1px rgba(162,42,221,0.75);
    background: #5620b4;
}


.header-btn>span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 80px;
}

.build {
    display: flex;
    justify-content: space-between;
    padding: 126px 0 64px;
    align-items: center;
    flex-wrap: wrap;
}

.build-title {
    max-width: 48%;
}

.build-title>h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 24px;
}

.build-title>p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6B7280;
    padding-bottom: 40px;
}

.build>img {
    max-width: 43%
}



.build-btn>a{
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-right: 16px;
    cursor: pointer;
    transition-duration: 500ms;
    background-color: #7E3AF2;
    border: none;
    color: #fff;
    padding: 12px 20px;
}

.build-btn>a:hover {
    box-shadow: 0px 0px 20px 1px rgba(162,42,221,0.75);
    background: #5620b4;
}


.links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px ;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
}


.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
}



.card-text {
    width: 548px;
}

.card-text>p, .trust-left>p {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    padding-bottom: 16px;
    color: #6B7280;
}

.card-text>ul>li {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    padding-bottom: 16px;
}

.card-text>ul>li::before {
    content: '\f058';
    font-family: fontawesome;
    color: #7E3AF2;
    padding-right: 8px;
}

.trust {
    display: flex;
    padding: 96px 0;
}

.trust-left {
    width: 640px;
    margin: 0 96px 0 0;
}

.trust-left>a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.trust-left-span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #7E3AF2;
    padding-bottom: 12px;
    display: block;
}

.trust-left>p {
    padding-bottom: 48px;
}

.trust-left>a {
    color: #7E3AF2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    padding-bottom: 16px;
    transition-duration: 0.1s;
}

.trust-left>a::after {
    content: '\f061';
    font-family: fontawesome;
    color: #7E3AF2;
    padding-left: 8px;
}


.trust-left>a:hover{
color: #5620b4;
}

.trust-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    width: 544px;
}

.trust-right-item {
    width: 40%;
    height: 150px;
}

.trust-right-item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    padding: 16px 0 8px 0;
    display: block;
}

.trust-right-item>p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #6B7280;
}

.quote {
    text-align: center;
    padding: 96px 0;
}

.quote>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 162.5%;
    padding: 24px 0;
    margin: 0 224px;
}

.quote-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-flex>img {
    padding-right: 14px;
}

.quote-flex>span>span {
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
}

.price {
    padding: 96px 0;
}

.price-title {
    text-align: center;
    margin-top: 96px;
    height: 100% ;
    padding-top: 80px;
    width: 60%;
    margin: 0 auto;
}


.price-title>p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6B7280;
    padding: 16px 0 48px 0;
    margin: 0 auto;
}

.price-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.price-card-item {
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 559px;
}

.price-card-item:hover {
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}

.price-card-item>p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #6B7280;
    margin-bottom: 32px;
}

.price-card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #111928;
    padding-bottom: 16px;
}

.price-card-item-weight {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;  
}

.price-card-item-weight>span {
    font-style: normal;
    font-weight: 500;
    color: #6B7280;
    font-size: 18px;
    line-height: 150%;
}

.price-card-item>ul>li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: start;
    margin-bottom: 16px;
}

.price-card-item>ul>li::before {
    content: '\f00c';
    font-family: fontawesome;
    color: #0694A2;
    margin-right: 9px;
}

.price-card-item>ul>li:last-child {
    margin-bottom: 32px
}

.price-card-item>ul>li:first-child {
    margin-top: 32px;
}

.price-card-btn {
    background-color: #7E3AF2;;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 10px 20px;
}

.price-card-btn:hover {
    box-shadow: 0px 0px 20px 1px rgba(162,42,221,0.75);
    background: #5620b4;
}

.faq>.title-800_36 {
    text-align: center;
    display: block;
}

.faq-item {
    max-width: 48%;
    margin: 0 auto;
}

.faq-title {
    display: block;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #6B7280;
    border-bottom: #E5E7EB solid 1px;
    padding: 24px 0;
    position: relative;
}

.faq-title::after {
    content: "\f078";
    font-family: fontawesome;
    position: absolute;
    right: 0px;
}

.faq-input {
    width: 0;
    height: 0;
}

.faq-input:checked ~ .faq-text {
    display: block;
}

.faq-input:checked ~ .faq-title {
    color: #111928;
}

.faq-input:checked~.faq-title::after {
    transform: rotate(180deg);
    
}

.faq-text {
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B7280;
    padding: 20px 0;
}

.faq-text>p {
    margin-bottom: 6px;
}

.faq-text>p>a, .faq-text>ul>li>a {
    color:#7E3AF2;
}


.start-content {
    padding: 114px 0;
    text-align: center;
}


.start-content>p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6B7280;
    margin: 24px 0;
}

.start-btn {
    background: #7E3AF2;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 10px 20px;
}

.start-btn:hover {
    box-shadow: 0px 0px 20px 1px rgba(162,42,221,0.75);
    background: #5620b4;
}



.footer-ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
}

.footer-ul-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B7280;
}

.footer-ul-link:hover {
    border-bottom: #6B7280 solid 1px;
    color: #555;
}

.footer-ul>ul>li {
    padding-bottom: 16px;
}

.footer-ul-title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #111928;
    margin-bottom: 16px;
    display: block;
}


.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #111928;
}

.footer-logo>span {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-left: 12px;
}

.footer-low>p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B7280;
    text-align: center;
    margin: 20px 0;
}

.footer-low-links {
    text-align: center;
}

.footer-low-links>a>i {
    width: 24px;
    height: 24px;
    color: #6B7280;
}

.btn-up {   
    display: inline-block;   
    background-color: #7E3AF2;   
    width: 50px;   
    height: 50px;   
    text-align: center;   
    border-radius: 4px;   
    margin: 30px;   
    position: fixed;   
    bottom: 30px;   
    right: 30px;      
    z-index: 1000;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;

}

.btn-up:hover {   
    cursor: pointer;   
    background-color: #333; 
}

.btn-up:active {   
    background-color: #555; 
 } 

 .btn-up::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff; 
 } 

 .btn-up.show {
    opacity: 1;
    visibility: visible;
  }

@media (max-width: 1350px) {
    .build>img {
        display: none;
    }
    .build-title {
        max-width: 100%;
        padding: 0 auto;
    }

    .work>img {
        display: none;
    }

    .card-text {
        margin-bottom: 60px;
        max-width: 100%;
        
    }

    .btn-up {
        display: none;
    }
}

@media (max-width: 1260px) {
.card-text {
    margin-top: 20px;
    width: 100%;
}

.trust {
    padding: 0;
}

.work {
    padding: 47px 0;
}
.price-title {
    padding-top: 16px;
}

.trust { 
    flex-direction: column;

}

.trust-left {
    width: 100%;
    padding-bottom: 30px;
}


.trust-right {
    width: 100%;
}

.quote {
    width: 100%;
}

.price-card {
    flex-direction: column;
}

.price-card-item>ul>li {
    font-size: 15px;
    margin-bottom: 8px;
}

.price-card-item>p {
    font-size: 16px ;
    margin-bottom: 12px;
}

.price-card-item>span {
    font-size: 37px;
    margin-bottom: 10px;
}
.price-card-item {
    padding: 6% 6% 0;
    width: 70%;
    margin-bottom: 2.2%;
    min-height: 483px;
}

.price-card-item>ul>li:last-child {
    margin-bottom: 15px;
}

.price-card-item>ul>li:first-child {
    margin-top: 15px;
}

.price-card-btn {
    margin: 0 20%
}

}



@media (max-width: 1000px) {
.header>ul {
    display: none;
    
}

.price-title {
    width: 100%;
}


.quote {
    width: 100%;
}

.container {
    max-width: 100%;
    padding: 0 6%;
}

.quote>p {
    margin: 0 auto;
}

.links {
    justify-content: center;
}

.price-card-item {
    width: 100%;
}

.price-card-btn {
    margin: 20px 20%;
}

.price-card {
    padding: 0 6%;
}

}

@media (max-width: 768px) {
    .build-title>h1 {
        font-size: 40px;
        padding-bottom: 14px;
    }

    h2 {
        font-size: 28px;
    }

    .faq-major-title {
        font-size: 28px;
    }

    .faq-item {
        max-width: 100%;
    }

    .header-start-btn-log {
        display: none;
    }

    .trust-right-item {
        height: auto;
    }
}

@media (max-width: 450px){
    .build-btn {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px;
        padding: 12px auto;
        text-align: center;
        margin: 0 auto;
    }

    .build-btn>a {
        margin-bottom: 10px;
    }

    .footer-ul {
        display: none;
    }

    .build {
        padding: 50px 0;
    }

    .links {
        padding-bottom: 0px;
    }

    .card-text {
        margin-bottom: 50px;
    }

    .trust-right-item>h2 {
        font-size: 20px;
        line-height: 125%;
        padding: 0;
    }

    .header {
        padding: 0 6%;
        flex-direction: column;
        justify-content: center;
    }

    .build-title>h1 {
        font-size: 31px;
    }

    .trust-right {
        justify-content: center;
    }

    .trust-right-item>p {
        font-size: 14px;

        
    }

    .logo {
        margin-bottom: 3%;
    }
}
